@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins Heading;
  src: url("./assets/Poppins-Bold.ttf");
}

body {
  background-color: rgb(32, 32, 32);
  color: #d9d9d9;
  font-family: Poppins;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}
